/* login.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-box {
  display: flex;
  width: 800px;
  height: 450px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.login-left, .login-right {
  padding: 30px;
  flex: 1;
}

.login-left {
  background-color: #fff;
}

.login-left h2 {
  margin-bottom: 30px;
}

.login-input-container {
  margin-bottom: 20px;
}

.login-input-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Darker label color */
}

.login-input-container input {
  width: 100%;
  padding: 12px; /* Increased padding */
  border: 1px solid #ddd; /* Lighter border */
  border-radius: 5px;
  background-color: #f9f9f9; /* Light background color for input */
}

.login-input-container input::placeholder {
  color: #bbb; /* Placeholder color */
}

.login-button {
  width: 100%;
  padding: 12px; /* Increased padding */
  background: rgb(255, 140, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the checkbox and forgot password link */
  margin-top: 10px;
}

.login-options label {
  display: flex;
  align-items: center; /* Align checkbox and text */
}

.login-options input[type="checkbox"] {
  margin-right: 5px; /* Spacing between checkbox and label */
}

.login-options a {
  color: rgb(255, 140, 0);
  text-decoration: none;
}

.login-right {
  background: linear-gradient(to right, rgb(255, 140, 0), #ff4b2b);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-right h2 {
  margin-bottom: 10px;
}

.login-signup-button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: rgb(255, 140, 0);
  cursor: pointer;
  margin-top: 20px;
}
